@{
    ViewData["Title"] = "Book Store";
}

@model BookList

<div class="col-8">
    <!--Alert for price policy-->
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong>Note!</strong> Are prices are final.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!--A table listing the books-->
    <h3 class="display-4">Available Books</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">BookId</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Publisher</th>
                <th scope="col">ISBN</th>
                <th scope="col">Classification</th>
                <th scope="col">Category</th>
                <th scope="col">Number of Pages</th>
                <th scope="col">Price</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <!--Display every book in the database-->
            @foreach (var item in Model.Books)
            {
                ViewData["dataTarget"] = String.Format("#bookModal{0}", @item.BookId);
                ViewData["modalId"] = String.Format("bookModal{0}", item.BookId);
                bool hasMiddleName = !string.IsNullOrEmpty(item.AuthorMiddleInitial);
        <tr>
            <th scope="row">@item.BookId</th>
            <td>@item.Title</td>
            <td>@(item.AuthorFirstName + ' ' + (hasMiddleName ? item.AuthorMiddleInitial + ". " : "") + item.AuthorLastName)</td>
            <td>@item.Publisher</td>
            <td>@item.ISBN</td>
            <td>@item.Classification</td>
            <td>@item.Category</td>
            <td>@item.NumberOfPages</td>
            <td>$@item.Price</td>
            <td>
                @if (item.Price < 20)
                {
                    <h5><span class="badge badge-danger">Low Price!</span></h5>
                }
            </td>
            <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=@ViewData["dataTarget"]>
                    More Info
                </button>
                <!-- Modal -->
                <div class="modal fade" id=@ViewData["modalId"] tabindex="-1" role="dialog" aria-labelledby="bookModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="bookModalLabel">@item.Title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <ul class="list-group">
                                    <li class="list-group-item">BookId: @item.BookId</li>
                                    <li class="list-group-item">Title: @item.Title</li>
                                    <li class="list-group-item">Author: @(item.AuthorFirstName + ' ' + (hasMiddleName ? item.AuthorMiddleInitial + ". " : "")  + item.AuthorLastName)</li>
                                    <li class="list-group-item">Publisher: @item.Publisher</li>
                                    <li class="list-group-item">ISBN: @item.ISBN</li>
                                    <li class="list-group-item">Classification: @item.Classification</li>
                                    <li class="list-group-item">Category: @item.Category</li>
                                    <li class="list-group-item">Number of Pages: @item.NumberOfPages</li>
                                    <li class="list-group-item">Price: $@item.Price</li>
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    }
        </tbody>
    </table>
    <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn" page-class-selected="btn-primary"
         page-class-normal="btn-outline-dark" class="btn-group pull-right  m-1"></div>
</div>
